
@font-face {
  font-family: 'LuckiestGuy-Regular';
  src: url('LuckiestGuy-Regular.eot?#iefix') format('embedded-opentype'),  url('LuckiestGuy-Regular.woff') format('woff'), url('LuckiestGuy-Regular.ttf')  format('truetype'), url('LuckiestGuy-Regular.svg#LuckiestGuy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
