
@font-face {
  font-family: 'AdigianaUltra';
  src: url('AdigianaUltra.eot?#iefix') format('embedded-opentype'),  url('AdigianaUltra.woff') format('woff'), url('AdigianaUltra.ttf')  format('truetype'), url('AdigianaUltra.svg#AdigianaUltra') format('svg');
  font-weight: normal;
  font-style: normal;
}
